@font-face { font-family: Old Europe; src: url('Old Europe.ttf'); } 
@font-face { font-family: dpquake; src: url('dpquake_.ttf'); } 
@font-face { font-family: Black Chancery; src: url('BLKCHCRY.TTF'); } 

* { 
}
body {
    color: white;
    background-color: black;
}
header {
    text-align: center;
    line-height: 0.4;
}
header a {
    text-decoration: none;
    color: white;
    font-family: Old Europe;
    font-size: 4em;
}
header a:hover {
    color: #ffd900;
}
header h3 {
    font-family: dpquake;
}
nav {
    width: 180px;
    display: flex;
    flex-direction: column;
}
nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: dpquake;
}
nav a:hover {
    color: #ffd900;
}
div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
div h3 {
    font-family: Old Europe;
    font-size: 2em;
}
div p {
    font-family: 'Times New Roman', Times, serif;
}
div a {
    text-decoration: none;
    color: white;
}
div a:hover {
    color: #cfcfcf;
}
div img {
    border-style: ridge; border-width: 10px; border-color: rgb(20, 20, 20);
}
form {
    text-align: center;
}
footer {
    position: absolute;
    width: 100%;
    text-align: center;
}